<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
     *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:#d7d9da;
        }
        header{
            height: 70px;
            background-color:beige;
        }
</style>
<body>
    <header>
        <h1 style="color: black;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 20px 23px;text-shadow: black 2px -2px 14px;"><b>Movie <span style="color: orangered;">Recommendation</span> system..</b>
        </h1>
        </header>
        <br>
        <h1 style="padding-left: 600px;color: #381503;;"><b><u>About Us</u></b></h1>
   <br><br>
   <h2 style="padding-left: 50px;"><b> This Movie Recommendation System is founded by <span style="color: #bf7a0d;">Rojesh Chudal, Bishal Giri, Monil Basnet</span>(Bsc.CSIT TU students Currently studying at Birendra memorial college at dharan).
    <br>It is a software tool that suggests movie to the users based on their personal preference.In this Website,we've used <span style="color: #0f4268;"><b>Content Based Filtering</b></span> which will suggests similar movies based on user input. <br>In addition we've also provide the details of each recommended movie if user clicks on the poster. We've tried our best to keep this website simple and user friendly as much as possible.</b></h2>
    &ensp;
    &ensp;<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer style="background-color: black;height: 100px;color: #d7d9da;">
        <h2 style="padding-left:600px;padding-top: 30px;"><b>copyright &copy;All Rights Reserved<br>
        </b></h2>

    </footer>
</body>
</html>