<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:#d7d9da;
        }
        header{
            height: 70px;
            background-color:beige;
        }
        img{
            padding-left: 615px;
        }
       
    </style>
</head>
<body>
    <header>
    <h1 style="color: black;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 20px 23px;text-shadow: black 2px -2px 14px;"><b>Movie <span style="color: orangered;">Recommendation</span> system..</b>
    </h1>
    </header>
    <br>
   <h1 style="padding-left: 600px;color: #381503;"><b><u>Contact Us</u></b></h1>
   <br><br>
   <img src="https://www.shutterstock.com/image-vector/phone-icon-trendy-flat-style-600nw-1189157305.jpg" alt="error" height="100px" width="100px">
   <br><br><br><br><br>
   <!-- <h2 style="padding-left: 600px;"><b>BY PHONE</b></h2><br><br><br> -->
   
   <h2 style="padding-left: 520px;font-family: Georgia, serif;"><b><i> MONIL BASNET: 9841507791 <br><br>
    ROJESH CHUDAL: 9816915734 <br><br>
    BISHAL GIRI: 9827310499</i></b></h2><br><br><br><br>&nbsp;<br><br><br><br><br>
    <footer style="background-color: black;height: 100px;color: #d7d9da;">
        <h2 style="padding-left:600px;padding-top: 30px;"><b>copyright &copy;All Rights Reserved<br>
        </b></h2>

    </footer>
</body>
</html>